@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 200;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 300;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 400;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 500;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 700;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 800;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLTArabic';
  font-weight: 900;
  font-style: normal;
  src: local('DINNextLTArabic'), url('din-next-lt-arabic/DINNextLTArabic-Black.ttf') format('truetype');
}